.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
}

.login-title {
  width: 100%;
  margin-bottom: 24px;

  h1,
  p {
    margin: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}
